body {
  /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcxM_CSoQijxBt41DbK7wrTQs7hfS6dcKmrQ&s);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #003300;*/

 background-image: linear-gradient( to right, #FFFF5C, LightCoral);
}
marquee {
 /*mix-blend-mode: multiply;*/
 font-style: italic;

}

h1 {
  color: BLACK;
  position: 500%;
  text-align: LEFT;
  font-size: 50px;
  font-style: italic;
  text-decoration: underline;
   
}

h2
{
  text-align: center;
}
.soon

{
  padding-left: 600px;
  color: orangered;
  text-decoration: underline;
}

 .soon , .button {
            animation: blinker 1.5s linear infinite;
            color: red;
            
            /* Larger, responsive font size */
           /* margin-bottom: 100px;*/
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
          }

 .SPL{

  font-size: 40px;
  color: whitesmoke;
  text-align: left;
  text-decoration: underline;
  font-style: italic;
}

.con
{
 flex: 10.33%;
  padding: 15px;
  box-sizing: border-box;
  size: flex;  

}
.row {
  display: flex;
}
.con1
{
  padding-left: 600px;
  height: 0px;
  background-size: contain;
  box-sizing: border-box;

}

.con2
{
  padding-left: 900px;
  height: 100px;
  background-size: contain;
  box-sizing: border-box;

}

/*.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button:hover {
  background-color: #04AA6D;
  color: white;
}*/

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 1px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

a:hover, a:active {
  background-color: green;
}

.button
{
   padding-left: 600px;
   
}